*{
    margin: 0px 0px 0px 0px;  
    border: 0;  
    padding: 0; 
}



h1{
    
    background-color:#00008B;
    color: #FFFF00;
    font-size: 7em;
    border-bottom: 2px solid rgb(255, 255, 255);


}

h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

figcaption{
    margin-left: 250px;
}

figure {
    display: flex;
    margin-left: 250px;
    background-color: white;
    padding: 20px 0;
}

figure img {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


a[href="https://www.netshoes.com.br/"]{
    color: darkcyan;
}

main:first-child{
    background-color: aliceblue;
}

main {
    margin-left: 220px;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #00008B;
    padding: 20px;
    list-style: none;
    color: #FFFF00;
}

.menu > li:hover {
    list-style: none;
    padding: 10px 20px;
    color: #00008B;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
    background-color: #FFFF00;
    border-radius: 50px;
}

aside + blockquote {
    margin-top: 15px;
    background-color: #f0f8ff;
    border-left: 5px solid #0077cc;
    padding: 10px;
    font-style: italic;
}

h2{
    margin-top: 50px;
    padding: 10px;
    font-size: 32px;
    background-color: #00008B;
}

h2::first-line{
    font-weight: lighter;
    color: #FFFF00;
}

article > dl {
    background-color: #a9f5aa;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    list-style: none;

}

aside {
    width: 200px;
    background-color: #00008B;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  aside li {
    margin-bottom: 15px;
  }
  
  aside li:hover {
    background-color: #FFFF00;
    color: #00008B;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }
  


article ~ blockquote {
    color: darkblue;
}

address > p {
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

#dentroFooter {
    background-color: #00008B;
    color: #FFFF00;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    margin-top: 10px;
}

#dentroFooter li {
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#dentroFooter li:hover {
    color: white;
    text-decoration: underline;
}
